<div>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<% if logged_in? && @question.owner_id == session[:id] %>
  <h2><%= "Edit Question ##{@question.id}" %></h2>

  <form action=<%= "/questions/#{@question.id}" %> method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h3><label for="prompt">Edit the Prompt: </label></h3>
    <input type="text" name="prompt" id="prompt" value="<%= @question.prompt %>">

    <h3>Edit Topics</h3>
    <% @topics.each do |topic| %>
      <% if @question.topics.include?(topic) %>
        <input type="checkbox" name="topics[]" id="<%= topic.name %>" value="<%= topic.name %>" checked><%= topic.name %><br>
      <% else %>
        <input type="checkbox" name="topics[]" id="<%= topic.name %>" value="<%= topic.name %>"><%= topic.name %><br>
      <% end #if %>
    <% end #do %>

    <br><input type="submit" value="Save Edits">
  </form>
<% end %>