<h2><%= "Information for Question ##{@question.id}" %></h2>

<h3>Question Owner:</h3>
<%= @owner.username %>

<h3>Difficulty:</h3>
<%= @difficulty %>

<h3>Prompt:</h3>
<%= @prompt %>

<h3>Topics:</h3>
<% if @question.topics.count == 0 %>
  </h4>No topics have been assigned to this question yet.</h4>
<% else %>
  <ul>
  <% @topics.each do |topic| %>
    <li><a href=<%= "/topics/#{topic.id}" %>><%= "#{topic.name}" %></a></li>
  <% end %>
  </ul>
<% end #if %>

<% if @question.owner_id == current_user.id %>
  <br><br>
  <a href=<%= "/questions/#{@question.id}/edit" %> class="btn">Edit Question</a>
  <br><br>

  <form action="/questions/<%=@question.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Question">
  </form>
<% end %>

