<h2><%= "Information about #{@name}:" %></h2>

<h3><%= "Grade: #{@grade}" %></h3>

<h3>Completed Questions:</h3>
<ul>
<% @questions.each do |question| %>
  <li><%= question.prompt %></li>
<% end %>
</ul>

<br>
<a href=<%= "/students/#{@student.id}/edit" %> class="btn">Edit Student</a>
<br><br>

<form action="/students/<%=@student.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Student">
</form>

<a href=<%= "/teachers/#{session[:id]}" %> class="btn">Back to Teacher Homepage</a>