<div>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<% if logged_in? && @teacher.id == session[:id] %>
  <h2><%= "Edit Information for #{@teacher.first_name.capitalize} #{@teacher.last_name.capitalize}" %></h2>

  <form action=<%= "/teachers/#{@teacher.id}" %> method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h3><label for="first_name">Edit First Name: </label></h3>
    <input type="text" name="first_name" id="first_name"
    value=<%= @field_values[:first_name] if @field_values[:first_name] %>>

    <h3><label for="last_name">Edit Last Name: </label></h3>
    <input type="text" name="last_name" id="last_name" 
    value=<%= @field_values[:last_name] if @field_values[:last_name] %>>

    <h3><label for="username">Change Username: </label></h3>
    <input type="text" name="username" id="username" 
    value=<%= @field_values[:username] if @field_values[:username] %>>

    <br><br><input type="submit" value="Save Edits">
  </form>
<% end %>