<h1><%= "Welcome, #{@teacher.username.upcase}!" %></h1>

<h2>Navigate by Student:</h2>
<ul>
<% @teacher.students.each do |student| %>
  <li><a href=<%= "/students/#{student.id}" %>><%= "#{student.first_name} #{student.last_name}" %></a></li>
<% end %>
</ul>

<h2>Navigate by Topic:</h2> 
<ul>
<% @teacher.topics.each do |topic| %>
  <li><a href=<%= "/topics/#{topic.id}" %>><%= "#{topic.name}" %></a></li>
<% end %>
</ul>

<h2>Navigate by Question:</h2> 
<ul>
<% @teacher.questions.each do |question| %>
  <li><a href=<%= "/questions/#{question.id}" %>><%= "#{question.prompt}" %></a></li>
<% end %>
</ul>

<br>
<a href=<%= "/students/new" %> class="btn">Create a New Student</a>
<a href=<%= "/questions/new" %> class="btn">Create a New Question</a>


