<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
<h1><%= "Welcome, #{@teacher.first_name.capitalize} #{@teacher.last_name.capitalize}!" %></h1>

<h2>Navigate by Student:</h2>
<ul>
<% @teacher.students.each do |student| %>
  <li><a href=<%= "/students/#{student.id}" %>><%= "#{student.first_name} #{student.last_name}" %></a></li>
<% end %>
</ul>

<h2>Navigate by Topic:</h2> 
<ul>
<% @topics.each do |topic| %>
  <li><a href=<%= "/topics/#{topic.id}" %>><%= "#{topic.name}" %></a></li>
<% end %>
</ul>

<h2>Questions Created by You:</h2> 
<ul>
<% @owned_questions.each do |question| %>
  <li><a href=<%= "/questions/#{question.id}" %>><%= "#{question.prompt}" %></a></li>
<% end %>
</ul>

<h2>Other Questions:</h2> 
<ul>
<% @others_questions.each do |question| %>
  <li><a href=<%= "/questions/#{question.id}" %>><%= "#{question.prompt}" %></a></li>
<% end %>
</ul>

<br>
<a href=<%= "/students/new" %> class="btn">Create a New Student</a>
<a href=<%= "/questions/new" %> class="btn">Create a New Question</a>
<a href=<%= "/topics/new" %> class="btn">Create a New Topic</a>
<a href=<%= "/logout" %> class="btn">Log Out</a>

<% if @teacher.id == current_user.id %>
  <br><br>
  <a href=<%= "/teachers/#{@teacher.id}/edit" %> class="btn">Edit User Information</a>
  <br><br>

  <form action="/teachers/<%=@teacher.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Teacher Account">
  </form>
<% end %>
</body>
</html>

